.item  {
    background-color: gray;
    display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        }
    
    
nav {
display: flex;
justify-content: space-evenly;
align-items: center;
border: 30px;
        background-color: gray;
}

nav a {
text-decoration: none;
font-size: 20px;
color: black;
}
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: "Courier New", Courier, monospace;
    }
    
    nav {
        width: 100%;
        background-color: gray;        
        padding: 1% 2%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    nav .items {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }
    
    nav .items a {
        font-weight: 700;
        text-decoration: none;
        color: black;
        border: 2px solid #dedede;
        padding: 5px;
        transition: all ease-in-out 0.25s;
    }
    
    nav .items a:hover {
        text-decoration: line-through;
        border: 2px solid black;
    }
    
    .home {
        width: 100%;
        height: 90vh;
        background-color: gray;
        color: gray;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .home h1 {
        margin-bottom: 50px;
        font-size: 100px;
        color: black;
    }
    
    .home button {
        width: 20%;
        height: 50px;
        background-color: gray;
        border: 5px solid black;
        color: black;
        font-size: 20px;
        font-family: "Courier New", Courier, monospace;
        font-weight: 900;
        transition: all ease-in-out 0.25s;
    }
    
    .home button:hover {
        background-color: #dedede;
        transform: translateY(5px) scale(1.01);
        color: black;
        cursor: pointer;
    }
     
         
    .About{
        width: 100%;
        height: 100vh;
        background-color: rgba(128, 128, 128, 0.719);
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
                }
     .About h1 {
        margin-bottom: 50px;
        font-size: 150px;
        
     }                    

        .About p {
                margin-top: 40px;
                color: black;     
               font-size: 20px;
        }
        
        .About button {
            margin: 50px;
            width: 20%;
            height: 50px;
            background-color: rgba(128, 128, 128, 0.719);
            border: 5px solid black;
            color: black;
            font-size: 20px;
            font-family: "Courier New", Courier, monospace;
            font-weight: 900;
            transition: all ease-in-out 0.25s;
        }
        
        .About button:hover {
            background-color: rgba(128, 128, 128, 0.719);
            transform: translateY(5px) scale(1.01);
            color: black;
            cursor: pointer;
        }
       
       
        
     
        .About {
            position: relative;
          }
          .About img {
            position: absolute;
            bottom: 20px;
            right: 15px;
            width: 200px;
            height: 250px;
          }      